body {
  margin: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 2px 2px 2px grey;
}

.nav {
  white-space: pre-wrap;
  display: flex;
  max-width: 1200px;
  height: 60px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  box-shadow: 2px 2px 2px 4px grey;
}