body {
  margin: 0px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 2px 2px 2px grey;
}

.nav {
  white-space: pre-wrap;
  display: flex;
  max-width: 1200px;
  height: 60px;
}

.footer {
  text-align: center;
  position: relative;
  top: 90vh;
}